
<!DOCTYPE html>
<html lang="en">
<head>
<title>Lewen, Guo</title>
<link rel="stylesheet" href="{{ url_for('index.static',filename='my_css.css') }}">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function() {
$('#submit').click(function(e){
  var form = $('#guest')
  var data = {
    name: $("#name").val(),
    title: $("#title").val(),
    email: $('#email').val(),
    text: $('#text').val()
  }
  $.ajax({
  type: form.attr('method'),
  url: form.attr('action'),
  data: form.serialize(),
  success: function(){
    $('#success').append("<div class='alert alert-success'><strong>Submit Success!</strong> Please Wait for My Response.</div>")
    },
  error: function(){
    alert("Failed")
    }
  })
})

$('#close').click(function(e){
  $('#success').empty()
})

})


</script>
</head>


<body>
<header>
<div class="container">
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link btn btn-primary" href="#" role="button">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-primary" href="#about" role="button">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-primary" href="#experience" role="button">Experience</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-primary" href="#research" role="button">Research</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-primary" href="#extra" role="button">Extra</a>
  </li>
  <li class="nav-item">
    <button type="button" class="nav-link btn btn-primary" data-toggle="modal" data-target="#contactme">
    Contact</button>
  </li>
</ul>
</div>
</header>

<section class="banner">
  <div class="banner-layer">
  <div class="container">
    <div class="row">
      <div class="description">
        <h3>Welcome to My Personal Page<h3>
        <h3>My Name is</h2>
        <h2>Lewen, Guo</h2>
        <h4>Born in Nanchang, Capital City of Jiangxi, China</h3>
        <h4>Currently working as a programmer in Tokyo, Japan</h4>
        <h4><span style="font-weight: bold">Looking for PhD programme in year 2019</span></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        About Me
        </button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactme">
        Contact Me
        </button>
        <br>
        <br>
        <br>
      </div>

  </div>
  </div>

</section>
<section id="about">
  <h2>About Me</h2>
  <div class="container">
    <div class="row">
    <div class="col-4">
      <div class="container">
        <h3>My name is Lewen, Guo</h3>
      </div>
      <p>Born in Nanchang, Capital City of Jiangxi, China. Studied in Huazhong
        University of Science and Technology. Got a Master of Science in Finance
        in <a href="https://www.waseda.jp/fcom/wbs/en" target="_blank">Waseda Business School</a>.
        Currently Working as a programmer in <a href="https://www.hyas.co.jp/" target="_blank">HyAS&Co.</a> Tokyo, Japan.
        Interested in finance-related quantitative research.
      </p>
    </div>

    <div class="col-4 text-center">
      <div class="container">
        <h3>More About My Professional Experience</h3>
      </div>
      <h4>Click the button below to get my cv &#8595;</h4>
      <a href="{{ url_for('index.download_cv')}}", target="_blank"><button class="btn btn-primary">Download My CV</button></a>
    </div>

    <div class="col-4">
      <div class="container">
        <h3>External Links of My Profiles</h3>
      </div>
      <div class="container">
        <div class="row">
        <div class="col text-center">
          <p><a href="https://www.linkedin.com/in/lewen-guo-a5b097119/" target="_blank"><img src="{{url_for('.static', filename='images/Logo-2C-21px-TM.png')}}"></a>
        </div>
        <div class="col text-center">
          <p>and</p>
        </div>
        <div class="col text-center">
          <a href="https://github.com/Guolewen" target="_blank"><img src="{{url_for('.static', filename='images/GitHub-Mark-32px.png')}}"></a></p>
        </div>
      </div>
      <div class="row">
        <a href="mailto:guolewen1994@gmail.com" target="_blank" class="btn btn-primary btn-block">Email to me at guolewen1994@gmail.com</a>
      </div>


    </div>
    </div>
  </div>
</div>
</section>






<section id="experience">

 <h2>Experiences</h2>

 <div class="container">
 <div class="row">

   <div class="col-3">

 <div class="card mb-5">

  <img src="{{url_for('.static', filename='images/nanchang_foreign_language.jpg')}}" class="card-img-top" alt="...">
  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#NFLS">Nanchang Foreign Languages School</button>
  <div class="card-body text-secondary">
    <p class="card-text"><small class="text-muted">Updated at 2019/03/16</small></p>
  </div>
</div>
</div>

 <div class="col-3">

<div class="card mb-5">
<img src="{{url_for('.static', filename='images/aoikaze.png')}}" class="card-img-top" alt="...">
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#HUST">Huazhong University of Science and Technology</button>
<div class="card-body">
  <p class="card-text"><small class="text-muted">Updated at 2019/03/16</small></p>
</div>
</div>
</div>


<div class="col-3">

<div class="card mb-3">
<img src="{{url_for('.static', filename='images/waseda.png')}}" class="card-img-top" alt="...">
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Waseda">Waseda Business School, Waseda University</button>
<div class="card-body">
 <p class="card-text"><small class="text-muted">Updated at 2019/03/16</small></p>
</div>
</div>
</div>

<div class="col-3">

<div class="card mb-3">
<img src="{{url_for('.static', filename='images/hyas1.png')}}" class="card-img-top" alt="...">
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#hyas">HyAs & Co.</button>
<div class="card-body">
 <p class="card-text"><small class="text-muted">Updated at 2019/03/16</small></p>
</div>
</div>
</div>
</div>

</div>
</section>

<section id="research">
  <h2>Research</h2>
  <div class="container">
  <div class="list-group">
  {% for research in research_data %}
  <button type="button" data-toggle="collapse" data-target="#research{{research.research_id}}" class="btn btn-primary list-group-item list-group-item-action ">{{research.paperinfo}}</button>
  {% endfor %}
  </div>
</div>


{% for research in research_data %}
<div id="research{{research.research_id}}" class="collapse">
  <div class="container research_lists">
    <br>
    <div class="row">
      <div class="col-3">
    <div class="list-group" id="myList" role="tablist">
  <a class="btn btn-primary list-group-item list-group-item-action active" data-toggle="list" href="#Title{{research.research_id}}" role="tab">Title</a>
  <a class="btn btn-primary list-group-item list-group-item-action" data-toggle="list" href="#Authors{{research.research_id}}" role="tab">Authors</a>
  <a class="btn btn-primary list-group-item list-group-item-action" data-toggle="list" href="#Abstract{{research.research_id}}" role="tab">Abstract</a>
  <a class="btn btn-primary list-group-item list-group-item-action" data-toggle="list" href="#Link{{research.research_id}}" role="tab">Link</a>
  <a class="btn btn-primary list-group-item list-group-item-action" data-toggle="list" href="#Hightlights{{research.research_id}}" role="tab">Highlights</a>
</div>
</div>

<!-- Tab panes -->
<div class="col-9">
<div class="tab-content">
  <div class="tab-pane fade show active" id="Title{{research.research_id}}" role="tabpanel">
    <h3>{{research.title}}</h3>
  </div>
  <div class="tab-pane fade" id="Authors{{research.research_id}}" role="tabpanel">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Affiliation</th>
          <th scope="col">Contact</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {%for author in research.authors.author_list %}
        <tr>
          <td>{{author.Author}}</td>
          <td>{{author.Affiliation}}</td>
          <td>{{author.Contact}}</td>
          <td>{{author.Email}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  <div class="tab-pane fade" id="Abstract{{research.research_id}}" role="tabpanel">
    <p>
      {{research.abstract}}
    </p>
  </div>
  <div class="tab-pane fade" id="Link{{research.research_id}}" role="tabpanel"><a href="{{research.link}}" class="btn btn-primary" role="button">Get the paper</a></div>



  <div class="tab-pane fade" id="Hightlights{{research.research_id}}" role="tabpanel">
    <div id="carouselExampleFade{{research.research_id}}" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
    {% for caption in research.highlights.caption %}
        {% if loop.index0 == 0 %}
          <li data-target="#carouselExampleFade{{research.research_id}}" data-slide-to="{{loop.index0}}" class="active"></li>
        {% else %}
          <li data-target="#carouselExampleFade{{research.research_id}}" data-slide-to="{{loop.index0}}"></li>
        {% endif %}

    {% endfor %}
  </ol>
      <div class="carousel-inner container" >
        {% for caption, figure_url in research.highlights.caption|zip(research.highlights.images_url) %}
          {% if loop.index0==0 %}
          <div class="carousel-item active">
            <div class="container">
              <p style="text-align: center">{{caption}}</p>
              <img src="{{figure_url}}"  class="d-block w-100" alt="...">
            </div>
          </div>
          {% else %}
          <div class="carousel-item">
            <div class="container">
              <p style="text-align: center;">{{caption}}</p>
              <img src="{{figure_url}}"  class="d-block w-100" alt="...">
            </div>
          </div>
          {% endif %}
        {% endfor %}
      <a class="carousel-control-prev" href="#carouselExampleFade{{research.research_id}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade{{research.research_id}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endfor %}

</section>




<section id="extra">





</section>






<section id="modal">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">More About Me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>My name is Lewen, Guo</h3>
        <p>I was born in <a href='https://en.wikipedia.org/wiki/Nanchang' target="_blank">Nanchang</a>,
          where I had a fulfilling 18-year early life before I started my 4-year college
          life in <a href='http://english.hust.edu.cn/' target="_blank">Huazhong University of Science and Technology</a>.
          Life in my undergraduate was kind of two-fold. On one hand, unfortunately I failed to enter into
          engineering schools to study any kind of "easy-to-get-a-job" major. However, on the other hand, I
          was able to invest more time on what I am interested in.
          <br>
          If summarized my 4-year college life in one sentence, I would say "technically no progress but mentally more matured".
          I endeavoured to pursue a "decent" job in China. However, it seems that employers in mainland are fond of computer geeks
          but not candidates with potentials.
          <br>
          I made a decision to move. Based on lots of reasons I decided to pursue a higher degree in <a href="https://www.waseda.jp/top/en" target="_blank"> Waseda University </a>, Tokyo, Japan.
          During my master programme, I was lucky enough to have the opportunity to work as TA and RA in <a href="https://www.waseda.jp/fcom/wbs/en" target="_blank"> Waseda Business School</a>
          and was writing Python and R programs for some research projects.
          <br>
          After my graduation, I was recommended by my master theis superviser Prof. <a href="https://www.waseda.jp/fcom/wbs/faculty-en/6093" target="_blank">Kawaguchi Yuichiro</a>
          to join one of fast-growing listed real estate consulting firm - <a href="https://www.hyas.co.jp/" target="_blank">HyAS&Co</a>.
          I was involved in developing a real estate service system for small real estate brokers.
        </p>
      </div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>


<div class="modal fade bd-example-modal-lg" id="NFLS" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nanchang Foreign Language School</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>I studied at NFLS for six years (both middle and high schools), which is one of the best schools in Nanchang.
            At least, I laid relative good foundations in English language among my peers.</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="Waseda" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Waseda University</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>I got a Master of Science in Finance on 2018 Sept. at <a href="https://www.waseda.jp/fcom/wbs/en" target="_blank"> Waseda Business School</a>. During my two-years studies, I worked
          for Prof. <a href="https://www.waseda.jp/fcom/wbs/faculty-en/6093" target="_blank">Kawaguchi Yuichiro</a> and Prof. <a href="https://www.waseda.jp/fcom/wbs/faculty-en/6076">CHEUNG Ming Yan William</a>
          as TA and RA. I wrote Python and R programs for several research projects and also involved in some writing parts using <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span></p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="hyas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">HyAs & CO.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>After my graduation from Waseda University, I was recommended by my master thesis superviser to join one of the fast-growing real estate consulting firm
          <a href="https://www.hyas.co.jp/" target="_blank">HyAS&Co</a>. As a member in R&D group, I was involved in developing real estate information system (REIDARS)
          I was responsible for developing both backend python scripts and front-end JavaScript scripts for some key functions and pages</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="HUST" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Huazhong University of Science and Technology</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p >College life in <a href="http://english.hust.edu.cn/" target="_blank">HUST</a> is two-fold. To be honest, I didn't learn too much useful skills
          which may be advantegoues for me to find a decent job.
          Just as anyone in this world who has received higher education, 4-Year College life is something that evokes the inner philosophy of a man in his early 20's.
          The 4-year college teaches me, though not completely, but at least a sense of how this world works. <br>
          I participated in one of largest student association <a href="https://aoikaze.moe/" target="_blank"> Aoikaze Anime Association</a> where
          I made a lot of friends there. As a team we had arranged several ACG-related events which thousands of fans joined our events. unfortunately, two of
          my regrets when I was the president of this association are that we failed to hold our events in the famous venue -<a href="https://baike.baidu.com/item/光谷体育馆">Optics Valley Gymnasium</a>
          and we failed to issue our own Asscoiation Journal. I hope that my successors can fulfill these two tasks in near future.
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>





<div class="modal fade" id="contactme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel11" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel11">Contact Me</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="guest" action="{{url_for('form.guest_form')}}" method="post">
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-2" for="name"><p>Your Name</p></label>
          <input name="name" id="name" class="form-control col-8" type="text" placeholder="Enter Your Name">
        </div>
        <div class="form-group row">
          <label class="col-2" for="title"><p>Title</p></label>
          <input name="title" id="title" class="form-control col-8" type="text" placeholder="Title">
        </div>
        <div class="form-group row">
          <label class="col-2" for="email"><p>Your Email</p></label>
          <input name="email" id="email" class="form-control col-8" type="text" placeholder="you_email@example.com">
        </div>
        <div class="form-group row">
          <label class="col-2" for="content"><p>Contents</p></label>
          <textarea name="content" class="col-8 form-control" id="content" placeholder="Contents"></textarea>
        </div>
      </div>


<div class="modal-footer container">

    <button type="button" id="submit" class="btn btn-primary col-6">Submit</button>
    <button type="button" id="close" class="btn btn-secondary col-6" data-dismiss="modal">Close</button>
</div>
  <div id="success">

  </div>

</form>
</div>
</div>
</div>



</div>
</section>


</body>
</html>
